

<h1>Chris's simple bookmarks manager</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>
